#nav {
      height: 60px;
      background-color: rgb(33, 31, 31);
    }

    #logo {
      color:orange;
      font-size: 25px;
    }

    a {
      color: white;
      margin-right: 200px;
      text-decoration: none;
    }

    button {
      color: white;
      background-color: orange;
    }