*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    height: 420px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

    h1 {
        font-size: 40px;
        text-align: center;
        color: rgb(10, 86, 172);
    }

    #p1 {
        font-size: 12px;
        text-align: center;
    }

    #box1 {
        margin-bottom: 7px;
    }
label {
    color:rgb(10, 86, 172);
    font-size: 14px;
    font-weight: 600;
}

    input {
        width: 100%;
        height: 28px;
        padding-left: 5px;
        border:1px solid rgb(10, 86, 172);
        border-radius: 5px;
        font-size: 11px;
    }

#p2 {
    font-size: 12px;
    margin-top: 6px;
    padding-left: 60px;
}

#button {
    text-align: center;
}

button {
    text-align: center;
    height: 30px;
    width: 60px;
    color: white;
    background-color: rgb(10, 86, 172);
    font-weight: 500;
}

.box {
    height: 28px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.868);
    display: inline-block;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#p3 {
    text-align: center;
}

#cont2 {
    display: flex;
    justify-content: center;
    /* gap: 5px; */
    
}

#p4 {
    font-size: 12px;
    margin-top: 5px;

}




