*{
    padding : 0;
    margin: 0;
    box-sizing : border-box;
}

#nav {
    height: 60px;
    background-color: rgb(47, 45, 45);
}

#logo {
    font-size: 25px;
    color: orange;
}

a {
    text-decoration: none;
    color: white;
    margin-right: 200px;
    
}

button {
    color: white;
    background-color:orange;
}

.box {
    height: 100px;
    width: 100px;
    background-color: pink;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

#box1 {
    background-color: rgb(255, 0, 0, 0.5);
}

#box2 {
    background-color: rgb(0, 255, 0, 0.5);
}

#box3 {
    background-color: rgb(0, 0, 255, 0.5);
}

#content {
    height: 618px;
}

footer {
    height: 60px;
    color: white;
    background-color: rgb(47, 45, 45);
    text-align: center;
}