*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    height: 200px;
    width: 200px;
    background-image: url("/puppy_image.jpg");
    background-size: cover;
    position: fixed;
    right: 0px;
}