* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

  /* position in css, z-index, background image */


 .box {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
 }

 #box1 {
    background-color: aqua;
    background-image: url("/Screenshot\ 2025-06-01\ 123501.png");
    background-size: cover;
    /* position: relative;
    top: 10px; */
 }

 #box2 {
    background-color: rgb(255, 0, 0);
    background-image: url("/puppy_image.jpg");
    background-size: cover;
    /* position: absolute;
    top: 30px;
    z-index: 3; */

 }

 #box3 {
    background-color: rgb(25, 0, 255);
    /* position: fixed;
    top: 0px; */
 }

 #box4 {
    background-color: rgb(0, 255, 8);
    /* position: static;
    bottom: 100px; */
 }

