*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* display properties & rgba color system practice */

.main {
    height: 200px;
    width: 100px;
    background-color: pink;
    margin: auto;
   
    
}

.color{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border:2px solid black;
    margin-left: 20px;
}

#red {
    background-color:red;
    text-align: center;
}

#yellow {
    background-color:yellow;
}

#green {
    background-color: green;
}

      /* units in css  %, em, rem, vh, vw */

      #box1 {
        font-size: 20px;
      }

      #box2 {
    font-size: 2em;
      }