*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#hlo {
height: 100px;
width: 100px;
background-color: aquamarine;
border: 2px solid black;
position: absolute;
top:100px;
left: 100px;
animation-name: fontSize;
animation-duration: 2s;
animation-timing-function: ease-in;
animation-delay: 1;
animation-iteration-count: infinite;
animation-direction:alternate-reverse;
}

@keyframes fontSize {
    from {left: 0px;
    font-size: 10px;
    background-color: aquamarine;}

    to { left: 300px; 
    font-size: 30px;
    background-color: red;}
}

#loader {
    height: 200px;
    width: 200px;
    position: absolute;
    top:300px;
    left: 300px;
    border-radius: 50%;
    border: 20px solid blue;
    border-top: 20px solid black; 

    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;


}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }

}







